<header class="sticky-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">alurapic</a>
        <div *ngIf="(user$ | async) as user; else login">
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <a class="mr=1">{{ user.name }}</a>
            <a (click)="logout()">(Logout)</a>
        </div>
        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['/']">Please, login</a>
            </span>
        </ng-template>
    </nav>
</header>